*.DS_Store
.env
.vscode
app/logs/*
rabbitmq/logs/*
nginx/logs/*
app/media/*
*.sqlite3
*.sqlite
**/__pycache__
app/static/fontawesome_5/
app/static/rest_framework/
app/static/admin/
app/static/drf-yasg/
*.key
*.crt
