{% extends 'base.html' %} {% load fontawesome_5 %} {% block content %}
<h5>Apps</h5>
{% if user.is_authenticated %} {% if not patterns %}
<p id="alert-model" class="alert alert-danger" style="display: none;">To create apps, you must first create the model</p>
<a onclick="$('#alert-model').show()" class="btn btn-outline-primary">New App</a> {% else %}
<a href="{% url 'create_app' %}" class="btn btn-outline-primary">New App</a> {% endif %} {% else %}
<p id="alert-account" class="alert alert-danger" style="display: none;">To create apps, you must have and account</p>
<a onclick="$('#alert-account').show()" class="btn btn-outline-primary">New App</a> {% endif %}
<br> {% if apps %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">
        <strong>{{ message | escape }}</strong>
    </div>
    {% endfor %}
</ul>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 5%;">ID</th>
            <th style="width: 6%;">Name</th>
            <th style="width: 6%;">Created by</th>
            <th style="width: 14%;">Description</th>
            <th style="width: 80%;">Scans</th>
            <th style="width: 6%;"></th>
        </tr>
    </thead>
    <tbody>

        {% for app in apps %}
        <tr>
            <td><a class="btn btn-outline-primary btn-round" href="{% url 'app' id=app.id %}">{{ app.id }}</a></td>
            <td>{{ app.name }} </td>
            <td>{{ app.user.username }} </td>
            <td>{{ app.description }} </td>
            <td>
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th style="width: 5%;">ID</th>
                            <th style="width: 10%;">Description</th>
                            <th style="width: 5%;">Version</th>
                            <th style="width: 10%;">Created On</th>
                            <th style="width: 8%;">Status</th>
                            <th style="width: 8%;">Progress</th>
                            {% if settings.VIRUSTOTAL_ENABLED %}
                            <th style="width: 10%;">VT</th>
                            {% endif %}
                            <th style="width: 10%;">Findings</th>
                            <th style="width: 30%;">By Severity</th>
                            {% if user.is_authenticated %}
                            <th style="width: 5%;">Delete</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for scan in scans %} {% if scan.app.id == app.id %}
                        <tr>
                            <td><a class="btn btn-outline-secondary btn-round" href="{% url 'scan' id=scan.id %}"> {{ scan.id }}</a></td>
                            <td>{{ scan.description }}</td>
                            <td>{{ scan.version_code }}</td>
                            <td>{{ scan.created_on }}</td>
                            <td>{{ scan.status }}</td>
                            <td>{{ scan.progress }} %</td>
                            {% for id, scan_data in scans_data.items %} {% if id == scan.id %} {% if settings.VIRUSTOTAL_ENABLED %} {% if scan_data.antivirus.malicious > 0 %}
                            <td> {% fa5_icon 'shield-alt' color='red' %} {{ scan_data.antivirus.malicious }}</td>
                            {% else %}
                            <td> {% fa5_icon 'shield-alt' color='green' %} {{ scan_data.antivirus.malicious }}</td>
                            {% endif %} {% endif %}
                            <td><a href="{% url 'findings' scan_id=scan.id %}" target="_blank" rel="noopener noreferrer">{{ scan.findings }}</a></td>
                            <td>
                                <table class="table table-borderless">
                                    {% for severity, number in scan_data.findings.items %}
                                    <tr>
                                        <th> {{ severity }} </th>
                                        {% if severity == 'Critical' %}
                                        <td>{% fa5_icon 'exclamation-circle' color='black' %} {{ number }} </td>
                                        {% elif severity == 'High' %}
                                        <td>{% fa5_icon 'exclamation-circle' color='red' %} {{ number }} </td>
                                        {% elif severity == 'Medium'%}
                                        <td>{% fa5_icon 'exclamation-circle' color='orange' %} {{ number }}</td>
                                        {% elif severity == 'Low' %}
                                        <td>{% fa5_icon 'exclamation-circle' color='blue' %} {{ number }}</td>
                                        {% else %}
                                        <td>{% fa5_icon 'check-circle' color='green' %} {{ number }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </td>
                                {% if user.is_authenticated %}
                                <td>
                                    <form action="{% url 'delete_scan' scan.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <button type="submit" class="delete-scan btn btn-danger">{% fa5_icon 'trash-alt' color='white' %}</button>
                                    </form>
                                </td>
                                {% endif %}
                            {% endif %} {% endfor %}
                        </tr>
                        {% endif %} {% endfor %}</tbody>
                </table>
            </td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'create_scan' app_id=app.id %}" class="btn btn-outline-success">New Scan</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    function fade_alerts() {
        alerts = document.getElementsByClassName("alert");
        var i = alerts.length;
        for (let elem of alerts) {
            i--;
            time = 3250+(1000*i);
            setTimeout(function() {
                $(elem).fadeOut("slow");
            }, time);
        }
    }
    window.addEventListener('DOMContentLoaded', (event) => {
        fade_alerts();
    });
    $(document).ready(function() {
        $('.delete-scan').on('click', function(e) {
            if (!confirm('Do you really want to delete the scan?')) {
                e.preventDefault();
            }
        });
    });
</script>
{% endif %} {% endblock %}