{% extends 'base.html' %} {% load widget_tweaks %} {% load fontawesome_5 %} {% block content %}
<button class="btn btn-sm btn-outline-secondary" onclick="window.history.back()">{% fa5_icon 'chevron-left' %} Back </button>
<form method="post">
    {% csrf_token %} {% for field in form.visible_fields %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label> {% render_field field class="form-control" placeholder=field.label %} {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error | escape }}</strong>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<br>
<a class="btn btn-success" href="{% url 'register' %}">Create account</a> {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">
        <strong>{{ message | escape }}</strong>
    </div>
    {% endfor %}
</ul>
{% endif %}
</form>
<script type="text/javascript">
    function fade_alerts() {
        alerts = document.getElementsByClassName("alert");
        var i = alerts.length;
        for (let elem of alerts) {
            i--;
            time = 3250+(1000*i);
            setTimeout(function() {
                $(elem).fadeOut("slow");
            }, time);
        }
    }
    window.addEventListener('DOMContentLoaded', (event) => {
        fade_alerts();
    });
</script>
{% endblock %}